 body {
   background: black;
   color: white;
   font-family: Arial, sans-serif;
   text-align: center;
  }

  a {
    color: lightgreen;
    text-decoration: none;
  }

  a.list {
    display: block;
  }

  p.left {
    text-align: left;
  }

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  background: brown;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px 16px;
  text-align: left;
}
caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 8px;
}
